.container-fluid {
  -webkit-text-size-adjust: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  font-size: 13px;
  line-height: 18px;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: capitalize;
  width: 100%;
}

.title {
  line-height: 27px;
  font-size: 18px;
}

.label_super_soporte {
  color: #222;
}

.panel-body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #222;
}

.colPaginator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.colPaginator2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: right
}