.colored-column {
  background-color: #F0F9FF;
}

.table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.colPaginator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.colPaginator2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: right
}

.capitalize {
  text-transform: capitalize;
}


.gray-row th {
  color: #888;
}

.small-column {
  width: 16%;
}

.page-link {
  color: #999999;
  border: none;
  background: none;
  font-size: 13px;
}


.custom-border-bottom {
  border-bottom: 1px dashed #c4bebe;
}

.card {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.card.border-0 {
  border-left: none;
  border-right: none;
}

.list-group-item {
  padding-top: 5px;
  padding-bottom: 5px;
}



.custom-border-bottom:not(:last-child) {
  margin-bottom: 0px;
}





@media (max-width: 576px) {
  .card .list-group-item .item-key {
    width: 100%;
    margin-bottom: 5px;
  }
}




.item-key {
  font-weight: bold;
  margin-right: 10px;
}