.bi {
    font-size: 26px;
}
.link {
    text-shadow: 1px 1px 0 #efefef;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ececec;
    box-shadow: inset 0px 1px 0px 0px #ececec;
    padding: 0;
    border-color: #ddd;
}


.img-logo {
    display: none;
    &.expanded {
        display: block;
    }
}

.bi-text-indent-right {
    display: none;
    &.expanded {
        font-size: 30px;
        margin-bottom: 20px;
        display: block;
    }
}

.bi-text-indent-left {
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
    &.expanded {
        display: none;
    }
}

.sidebar {
    left: 0;
    top: 50px;
    border: 1px solid #ddd;
    box-shadow: inset 0px 1px 0px 0px #ececec;
    height: 100vh;
    transition: 0.3s;

    width: 60px;

    &.expanded {
        width: 240px;
        //background: #eee;

        .header {
            padding-left: 15px;
            h1 {
                margin-left: 0px;
            }

            .chevron {
                margin-left: 0px;

                &::before {
                    transform: rotate(-135deg);
                }
            }
        }

        .content {
            .link {
                .content {
                    .title {
                        max-width: 130px;
                    }

                }

                .children {
                    .content {
                        padding-left: 30px;
                    }
                }
            }
        }
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;

        h1 {
            font-size: 20px;
            margin: 0;
            flex: 1;
            transition: 0.3s;

            margin-left: -100px;
        }

    }

    .content {
        .link {
            .children {
                .content {
                    // padding-left: 30px;
                    padding-left: 10px;

                    &.active {
                        background: #2439d8;
                    }
                }
            }

            .content {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;

                cursor: pointer;

                transition: 0.3s;

                &.active {
                    background: #2439d8;

                    .title {
                        color: white;
                    }
                }

                .icon {
                    flex: 0 0 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 4px;
                }

                .title {
                    flex: 1;
                    // display: none;
                    transition: 0.3s;
                    max-width: 0px;
                    overflow: hidden;
                }
            }
        }
    }
}