.sidebar {
  margin-top: 42px;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #eeeeee;
  transition: left 0s;
  z-index: 9999;
}

.list-group-item {
  background-color: #e0e0e0;
}

.accordion-toggle {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: capitalize;
  text-decoration: none;
  color: #222;

}


.btn-primary-custom {
  background-color: transparent;
  color: #555050;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.sidebar-open {
  left: 0;
}

.sidebar-close {
  margin-top: 0;
  margin-left: 0;
}

.sidebar-image-container {
  float: left;
  margin-right: 0px;
  margin-left: 15px;
}


/* .btn-primary {
  background-color: transparent;
  color: #555050;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;

  width: 250px;
  height: 100%;
  background-color: #f2f2f2;
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
}

.sidebar.show {
  left: 0;

} */